<p>hi</p>

<form (submit)="onRegisterSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input autocomplete="false" type="text" [(ngModel)]="name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label>Username</label>
      <input  autocomplete="false" type="text" [(ngModel)]="username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input autocomplete="false" type="email" [(ngModel)]="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input autocomplete="false" type="password" [(ngModel)]="password" name="password" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Registreeri">
  </form>
