
<button class="button" (click)="goOrders()">&#60;&#60; Orders</button>
<hr>

<table>
    <p><b>order ID: </b>{{order?.orderID}}</p>
    <p><b>Status: </b>{{order?.status}}</p>
    <p><b>email: </b>{{order?.email}}</p>
    <p><b>Phone: </b>{{order?.phone}}</p>
    <p><b>Customers name: </b>{{order?.name}}</p>
    <p><b>Customers lastname: </b>{{order?.lastname}}</p>
    <p><b>Price: </b>{{order?.totalPrice}}€</p>
    <p><b>transport: </b>{{order?.sendingMethod}}</p>
    <div *ngIf="courier">
            <p><b>Address: </b>{{order?.address || cssxs}}</p>
            <p><b>ZIP Code: </b>{{order?.ZIPCode || scsc}}</p>
    </div>
    <div *ngIf="itella">
           <ul><p><b>Itella smartPost: </b>{{order?.parcel?.name}}</p></ul> 
           <ul><p><b>Address: </b>{{order?.parcel?.address}}</p></ul>
    </div>

    <div>
        <p><b>PRODUCTS: </b></p>
        <div *ngFor="let product of products">
                <ul> <p>{{product?.countOnOrder}} x <a target="_blank" href="/productview?id={{product._id}}">{{product?.name}}</a></p></ul>
        </div>
    </div>
    
    
</table>


