<!-- <router-outlet >

</router-outlet> -->
<form #eventForm="ngForm"  (chage)="searchOrder()">
  <label>Search order by ID: </label>
  <input autocomplete="off" type="text" placeholder="order ID" class="input" (keyup)="searchOrder()" (chage)="searchOrder()" [(ngModel)]="id" #searchInput name="search" >
</form>
<p></p>

<div *ngIf="!orderFound">
  <h2>No results for {{id}}</h2>
</div>

<div *ngIf="orderFound">
  <h4><b>Number of orders: </b>{{numOrders}}</h4>
  <h4><b>Date: </b>{{date | date:'dd-MM-yyyy'}}</h4>
  <hr>
  <div>
    <table>
      <tr *ngFor="let order of orders">
        <table>
          
          <p><b> Order ID:</b> {{order.orderID}}</p>
          
          <p><b>Status:</b> {{order.status}}</p>
          
          <p><b>Date:</b> {{order.date | date:'dd-MM-yyyy H:mm'}}</p>
          <p><b>email:</b> {{order.email}}</p>
          
          
          <button class="button" (click)="goDetails(order.orderID)">See details</button>
          
        </table>
        <hr>
      </tr>
    </table>
  </div>
</div>
