<!-- <app-order-view></app-order-view>   -->
<!-- <app-add-product></app-add-product> -->
<!-- <app-order-view></app-order-view> -->
<!-- <app-product-view></app-product-view> -->
<!-- <app-product-view></app-product-view> -->
<div>
    <router-outlet></router-outlet>
</div>  


