.button{
    cursor: pointer;;
}

.delete{
    color: red
}
.details{
    font-size: 16px;
}

.input{
    width: 250px
}

.sticky{
    position: -webkit-sticky; /* Safari */
    top: 0;
    position: sticky;
}