<h3>LIST OF PRODUCTS</h3>
<form #eventForm="ngForm" (change)="searchProduct()" >
  <label>Search product by name: </label>
  <input type="text" autocomplete="off" class="input" placeholder="Product name" [(ngModel)]="keyword2" (keyup)="searchProduct($event)" (change)="searchProduct($event)"  #searchInput name="search" >
</form>
<p></p>
<button  class="button" (click)="goAddProduct()"><b>ADD NEW PRODUCT</b></button>
<p></p>
<hr>
<div *ngIf="!productfound">
  <h2>No results for {{keyword2}}</h2>
</div>
<div *ngIf="productfound">
    <div *ngFor="let product of products">
        <p><b>Name: </b>{{product.name}}</p>
        <p><b>Price: </b>{{product.price}}€</p>
        <p><b>Stock: </b>{{product.stockInfo}}</p>
        <p><a target="_blank" href="/productview?id={{product._id}}">See on shop</a></p> 
        <p></p>
        <button class="button details" (click)="goProductDetails(product._id)">See details</button>
        <p></p>
        <button class="button delete" (click)="deleteProduct(product._id)">delete product</button>
        <p></p>
        <hr>
      </div>
</div>

