<div>
    <div>
        <p>Name</p><input autocomplete="off" [(ngModel)]="order.name" class="inputs" type="text" name="name">
        <p>Last name</p><input autocomplete="off" [(ngModel)]="order.lastname" class="inputs" type="text" name="lastName">
        
        <p>email</p><input autocomplete="off"  [(ngModel)]="order.email" class="inputs" type="email" name="email">
        <p>Phone</p><input autocomplete="off" [(ngModel)]="order.phone" class="inputs" type="text" name="phone">
        <div *ngIf="tranportMethod == 'courier'">
            <p>Address: </p><input autocomplete="off" [(ngModel)]="order.address" class="inputs" type="text" name="address">
        </div>
        <p>Transport</p>
        <select name="transport" id="transport" (change)="tranportChange($event)">
            <option value="" disabled selected>Choose a transportation method</option>
            <option value="self">Self pick-up</option>
            <option value="courier">Courier (+3€)</option>
            <option value="itella">Itella smartPost (+5€)</option>

        </select>
    </div>
</div>

<div *ngIf="itellaSmartPost" id="smartpost" class="itella">
    <h3>ITELLA smartPost Parcel Machines: </h3>
    <select (change)="onChange($event)">
        <option value="-1" >-- Select a Itella smartPost location --</option>
        <optgroup label="Tallinn">
            <option *ngFor="let parcel of Tallin.parcels" value="{{parcel.place_id[0]}}">{{parcel.name}}</option>
        </optgroup>
        <optgroup label="Tartu">
                <option *ngFor="let parcel of Tartu.parcels" value="{{parcel.place_id[0]}}">{{parcel.name}}</option>
            </optgroup>
        <optgroup *ngFor="let city of cities" label="{{city.name}}">
            <option  *ngFor="let parcel of city.parcels" value="{{parcel.place_id[0]}}">{{parcel.name}}</option>
        </optgroup>
    </select>
</div>

<div *ngIf="showParcel">
    <h3><b>Parcel information: </b></h3>
    <p>Name: {{order.parcel.name}}</p>
    <p>City: {{order.parcel.city}}</p>
    <p>address: {{order.parcel.address}}</p>
    <p>Postal code: {{order.parcel.postalcode}}</p>
    <p>Schedule: {{order.parcel.availability}}</p>
    <p></p>
    <!-- <div *ngIf="itellaSmartPost">
            <h1>{{code}}</h1>
    </div> -->
</div>



<div class="buttons">
        <a style="cursor: pointer;" href="{{payment.url}}"  ><button style="cursor: pointer;" (click)="onSubmit()">PAY {{totalPrice}}€</button></a>
        <button style="cursor: pointer;" (click)="goToCart()">Return to cart</button>
        <button style="cursor: pointer;" (click)="goToHome()">Return to Home</button>
</div>
