<h3>IMAGES</h3>
<div>
    <table>
      <tr><img class="image" [src]="firstPic" alt=""></tr>
      <tr><input type="file" #firstFile name="firstPlacess" (change)="onFileSelected($event)"></tr>
      <tr><button type="button" #firstButton class="btn btn-success" (click)="onUpload('firstPic')" [disabled]="nothing()">Upload</button></tr>
      
    </table>

</div>

<div>
    <table>
      <tr><img id="secondPic" class="image" [src]='secondPic' alt=""></tr>
      <tr><input type="file" #secondFile name="firstPlacess" (change)="onFileSelected($event)" accept='image/*'></tr>
      <tr><button type="button" #secondButton class="btn btn-success" (click)="onUpload('secondPic')" [disabled]="nothing()">Upload</button></tr>
    </table>

</div>

<div>
    <table>
      <tr><img id="thirdPic" class="image" [src]='thirdPic' alt=""></tr>
      <tr><input type="file" #thirdFile name="firstPlacess" (change)="onFileSelected($event)" accept='image/*'></tr>
      <tr><button type="button" #thirdButton class="btn btn-success" (click)="onUpload('thirdPic')" [disabled]="nothing()">Upload</button></tr>
    </table>

</div>

<p></p>
<hr>
<p></p>
<h3>TEXTS</h3>
<div>
    <table>
      <label>Greeting text</label>
      <tr><input class="txtbox" type="text" [(ngModel)]="firstText"></tr>
      <!-- <p>{{firstText}}</p> -->
      <tr><button type="button" #firstTextButton class="btn btn-success" (click)="uploadText('firstText', firstText)" [disabled]="!txtBoxEmpty()">Save</button></tr>
    </table>

</div>
<div>
    <table>
      <label>Test text</label>
      <tr><input class="txtbox" type="text" [(ngModel)]="secondText"></tr>
      <!-- <p>{{firstText}}</p> -->
      <tr><button type="button" #firstTextButton class="btn btn-success" (click)="uploadText('secondText', secondText)">Save</button></tr>
    </table>

</div>
<div>
    <table>
        <label>Test text</label>
      <tr><input class="txtbox" type="text" [(ngModel)]="thirdText"></tr>
      <!-- <p>{{firstText}}</p> -->
      <tr><button type="button" #firstTextButton class="btn btn-success" (click)="uploadText('thirdText', thirdText)">Save</button></tr>
    </table>

</div>

<!-- <div>
    <table>
      <tr><textarea name="Text1" #firstText cols="40" rows="5" (change)="onFileSelectedText($event)"></textarea>></tr>
      <tr><button type="button" #firstTextButton class="btn btn-success" (click)="textUpload('firstText')" [disabled]="nothing()">Upload</button></tr>
    </table>

</div> -->

