<div class="sticky">
  <button class="button" (click)="goOrders()">Orders</button>
  <button class="button" (click)="goProducts()">Products</button>
  <button class="button" (click)="goContent()">Contents</button>
  <button class="button" (click)="goHome()">See Shop</button>
  <button *ngIf="!authService.loggedIn()" href="/" class="button red" (click)="onLogoutClick()">Logout</button>
  
</div>

<h4>Date: {{date | date:'dd-MM-yyyy'}}</h4>
<h4>Time: {{date | date: 'H:mm:ss'}}</h4>

<!-- <a class="" id="nav-logout-tab" href="/" role="tab" *ngIf="!authService.loggedIn()" (click)="onLogoutClick()">Logout</a> -->
<hr>
<p>
  <router-outlet>

  </router-outlet>
</p>

