
<button class="button" (click)="goProducts()">&#60;&#60; Products</button>
<hr>

<div>
  <table *ngIf="product">
      <label><b>Name:</b> </label>
      <tr><input class="input" type="text" [(ngModel)]="product.name"></tr> 
      <label><b>Short description:</b> </label>
      <tr><input class="input" type="text" [(ngModel)]="product.shortDesc"></tr>
      <label><b>Long description:</b> </label>
      <tr><input class="longDesc" type="text" [(ngModel)]="product.longDesc"></tr>
      <label><b>Stock:</b> </label>
      <tr><input class="input" type="number" min="0"  step="1" [(ngModel)]="product.stockInfo"></tr>
      <label><b>Price:</b> </label>
      <tr><input class="input" type="number" min="0"  step=".01" [(ngModel)]="product.price"></tr>
      <label><b>Video:</b> </label>
      <tr><input class="input" type="url" [(ngModel)]="product.video"></tr>

      <!-- Main image -->
      <h3>MAIN IMAGE:</h3>
      <tr><img class="img" src="{{product.mainImage}}" alt="">
        
        <!-- Rest of images -->
        <h3>IMAGES:</h3>
      <tr *ngFor="let img of product.images; let i = index">
        <h4>Image {{i+1}}:</h4>
        <img class="img" src="{{img}}" alt="">
        <button class="button" (click)="setMainImage(i)">Set as main image</button>
        <button class="button" (click)="imageUp(i)">Up</button>
        <button class="button" (click)="imageDown(i)">Down</button>
        <button class="button delete" (click)="deleteImage(i)">remove image</button>
      </tr>
  </table>
  <p></p>
  <hr>
  <form #eventForm="ngForm" (ngSubmit)="uploadImages()" (change)="onFileSelected($event)"  enctype="multipart/form-data" >
    <input id="img" type="file" #fileInput name="file" multiple accept='image/*'>
    <p></p>
    <tr><input type="submit"  value="Upload images" name="productImage"></tr>
    <p></p>
  </form>
  

  <hr>
  <p></p>
  <button class="button" (click)="updateProduct()">SAVE CHANGES</button>
  <button class="button" (click)="goProducts()">Cancel</button>
  
</div>