
<button class="button" (click)="goProducts()">&#60;&#60; Products</button>
<p></p>
<table>

    
    <label>Name</label>
    <tr><input type="text" name="name" [(ngModel)]="product.name"></tr>
    <label>Stock</label>
    <tr><input type="number" step="1" min="0" name="name" [(ngModel)]="product.stockInfo"></tr>
    <label>Video</label>
    <tr><input type="text" name="name" [(ngModel)]="product.video"></tr>
    <label>short description</label>
    <tr><input type="text" name="name" [(ngModel)]="product.shortDesc"></tr>
    <label>price (€)</label>
    <tr><input type="number"  step=".01" min="0" name="name" [(ngModel)]="product.price"></tr>

    <!-- DUPLICATE THIS IN FRONT END, AND BACKEND -->
    <label>Similar products</label>
    <tr><input type="text" name="name" [(ngModel)]="similarProducts[0]"></tr>
    <label>Alternative products</label>
    <tr><input type="text" name="name" [(ngModel)]="alternativeProducts[0]"></tr>
    <p></p>
</table>
<form #eventForm="ngForm" (ngSubmit)="uploadImages()" (change)="onFileSelected($event)"  enctype="multipart/form-data" >
  <input id="img" type="file" #fileInput name="file" multiple accept='image/*'>
  <p></p>
  <tr><input type="submit"  value="Upload images" name="productImage"></tr>
  <p></p>
</form>

<div>
  <div *ngIf="mainImage">
    <h3>Main image:</h3>
    <img class="image" [src]="product.mainImage" alt="" >
    <button class="button" (click)="removeMainImage()">remove from main image</button>
  </div>
</div>

<h3>IMAGES:</h3>
<div *ngFor="let image of product.images; let i = index">
  <h4>Image {{i+1}}</h4>
  <img class="image" src="{{image}}" alt="">
  <button class="button" (click)="setMainImage(i)">Set as main image</button>
  <button class="button" (click)="imageUp(i)">Up</button>
  <button class="button" (click)="imageDown(i)">Down</button>
   <button class="button" (click)="deleteImage(i)">remove image</button>
</div>
<hr>
<button class="button" (click)="addProduct()">ADD PRODUCT</button>

<!-- <h1 *ngFor="let product of selectedFiles" ><h2>{{product.name}}</h2></h1>
<hr>

<h1 *ngFor="let product of products" ><h2 *ngFor="let image of product.images"><img class="image" src="{{imgPath}}/{{image}}"><p>{{imgPath}}/{{image}}</p></h2></h1> -->
<!-- <img src="{{img}}" alt="e2qe"> -->

