<h2>CART: </h2>
<div *ngIf="theresProducts; else noProducts">
    <div  *ngFor="let product of products; let i = index">
            <div>
        
                <h3 class="line"><b>{{product.name}}</b></h3>
                &nbsp;
                <button class="line button" (click)="substractOne(i)">-</button>
                &nbsp;
                <p class="line" >{{product.countOnOrder}}</p>
                &nbsp;
                <button class="line button" (click)="addOne(i)">+</button>
                &nbsp;
                <h3 class="line">{{product.priceOnCart}}€&nbsp;</h3>
                <button class="line button noprod" (click)="deleteFromCart(i)">X</button>
            </div>
            <div class="line">
                
            </div>
        </div>
</div>

<ng-template #noProducts>
    <h2 class="noprod">There are no products in your cart...</h2>
</ng-template>

<div>
    <h3>TOTAL PRICE ....... {{totalPrice}}€</h3>
    <h3>TOTAL PRICE WITH VAT(20%) ....... {{totalPriceVat}}€</h3>
</div>

<button id="checkoutBtn" class="button" (click)="onSubmit()">CHECKOUT</button>
<button id="checkoutBtn" class="button" (click)="goHome()">KEEP BUYING</button>


