<div id="printable">
  <p>
    {{msg}}
  </p>
  
    <p><b>Order ID:</b>  {{order?.orderID}}</p>
    <p><b>Status: </b> {{order?.status}}</p>
    <p><b>Date: </b>{{order?.date  | date:'dd-MM-yyyy H:mm' }}</p>
    <p><b>Products: </b>
      <div *ngFor="let product of products">
        <p>{{product?.countOnOrder}} x <a target="_blank" href="/productview?id={{product._id}}">{{product?.name}}</a></p>
      </div>
    <p><b>Total price: </b> {{order?.totalPrice}}€</p>
</div>
<p class="red">We recommend saving the order information, to be able to track it</p>
<button (click)="print()">Save order information</button>
<button (click)="goToHome()">Go Home</button>
