<!-- JUST FOR TESTING PURPOSES, DELETE IF NEEDED -->

<div *ngFor="let product of products">
    <img style="cursor:pointer;" (click)="goToProduct(product._id, product.name)" class="image" src="{{product.mainImage}}" alt="">
    <p style="cursor:pointer;" (click)="goToProduct(product._id, product.name)"><b>{{product.name}}</b></p>
    <p>{{product.shortDesc}}</p>
    <hr>
</div>

<!-- JUST FOR TESTING PURPOSES, DELETE IF NEEDED -->

<h3>Contents: </h3>
<div *ngFor="let pic of adminPics; let i = index">
    <img class="image" src="{{pic.picture}}" alt="">
    <h4>{{texts[i]?.text}}</h4>
</div>
