*{
    position: relative;
    box-sizing: border-box
}

.image{
    height: 50px;
    width: 50px;
    float: left;
    
}

.relimage{
    height: 100px;
    width: 100px;
    float: left;
}

.alnames{
    font-size: 14px;
    position: relative;
    top: 300%;
    clear: both;
}

.simnames{
    font-size: 14px;
    position: relative;
    top: 300%;
    clear: both;
}

.buttons{
    clear: both;
    position: absolute;
    top: 130%
}

.divimg{
    clear: both;
    width: 100%
}
.alt{
    position: absolute;
    top: 100%
}
.cart{
    height: 30px;
    width: 30px;
    margin-right: 30px; 
    cursor: pointer;
    margin-top: 50px
}
.mainimage{
    height: 300px;
    width: 300px;
    float: left;
}

.line{
    float:left;
}

.btn{
    float: right;
}

.price{
    float: left;
}

.hr{
    margin: 20px 0px 20px 0px ;
    width: 300px
}

.similar{
    text-decoration: none;
}

.similar:hover{
    cursor: pointer;
    text-decoration: underline;
}

.under{
    text-decoration: underline;
}

h3 >h4{
    text-decoration: none
}



