<div id="scrollId">
    <div class="line">    

        <h3>{{product.name}}</h3>
        <div class="buttons">
                <img class="cart" (click)="addToCart(product._id)" src="uploads/addCart.png" title="Add to shopping cart" alt="">
            
                <!-- <button (click)="goToCart();">Go to cart</button> -->
                <img class="cart" (click)="goToCart();" src="uploads/cart.png" title="Go to shopping cart" alt="">
                <!-- <button (click)="goToHome()">Go Home</button> -->
                <img class="cart" (click)="goToHome();" src="uploads/home.png" title="Home" alt="">
            </div>
        <div>
            <a href="{{mainImg}}" target="_blank"><img class="mainimage" src="{{mainImg}}" alt="Main image"></a> 
            <h1 class="price"><b class="price">{{product.price}}€</b></h1>
        </div>
        <div>
            <img [src]="product.mainImage" alt="" class="image" style="cursor:pointer" (click)="changeToMainImage()">
            <div  *ngFor="let img of product.images; let i=index">
                    <img class="image" style="cursor:pointer" (click)="changeImage(i)" src="{{img}}" alt="">
            </div>
            
        </div>
        
        <hr class="hr">
        <!-- <p>Video: <a href="{{product.video}}">{{product.video}}</a></p> -->
        
        <h4>{{product.shortDesc}}</h4>
        <p>Long description: {{product.longDesc}}</p>
        <p>Units in stock: <b>{{product.stockInfo}} units</b></p>
        <iframe width="280" height="165" [src]="safeVideoUrl"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>

        <h3><u>Materials:</u>  <h4 *ngFor="let mat of product.materials">- {{mat}}</h4></h3>
        <h3><u>Similar products:</u>  <h4 class="buttons" *ngFor="let simprod of similarProducts; let i = index" class="similar" (click)="goToSimilarProduct(simprod._id)">
            <div>
                    <!-- change images[0] for .mainImage -->
                    <img class="relimage" src="{{simprod.mainImage}}" alt=""> 
                    <p class="simnames">{{simprod.name}}</p>
            </div>
            
        </h4></h3>
        <h3 class="alt" ><u>Alternative products:</u>  <h4 class="divimg" *ngFor="let alprod of alternativeProducts; let i = index" class="similar" (click)="goToSimilarProduct(alprod._id)">
            <div>
                     <!-- change images[0] for .mainImage -->
                    <img class="relimage" src="{{alprod.mainImage}}" alt="">
                    <p class="alnames">{{alprod.name}}</p>
            </div>
            
        </h4></h3>
        <!-- <button (click)="addToCart(product._id)">Add to cart</button> -->
        

        

    </div>
    


</div>




<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Rt2eRHmi1JY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->